{% extends "template-verify-email-inline.html" %}

{# This is comment #}
{% block content %}
{{ super() }}
{% endblock %}

{% block header %}
Подтвердите адрес<br />своей электронной почты!
{% endblock %}

{% block text %}
Кто-то пытается зарегистрироваться с помощью данного адреса электронной почты. Если это сделали Вы - нажмите на кнопку ниже, для того чтобы начать пользоваться сервисом.
{% endblock %}

{% block button %}
<a class="button" href="{{ verifyLink }}">Перейти к сервису</a>
{% endblock %}

{% block link %}
Если вы не видите кнопку выше нажмите на ссылку: <a href="{{ verifyLink }}">Верифицировать акаунт</a>
{% endblock %}

{% block footer %}
Если Вы не желаете больше получать подобную информацию или считаете, что настоящее<br />письмо было отправлено Вам ошибочно - сообщите нам по ссылке <a href="#">Отписаться от рассылки.</a>
{% endblock %}
